body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, h3, input{text-align: center;}

.pai{
  margin: auto;
  margin-bottom: 50px;
  text-align: justify;
  max-width: 500px;
  height: 250px;
  padding: 20px;
  border: 5px solid black;
  background-color: lightgreen;
}

.filho{
  background-color: coral;
  border: 1px solid black;
  text-align: center;
}

#div-1 .filho{display: block;}

#div-2 .filho{display: inline;}

#div-3 .filho{display: inline-block;}

#div-4 .filho{display: none;}