.titulos{
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.vermelho{
  background-color: red;
  color: white;
  border: 3px dotted yellow;
  font-size: 18px;
  line-height: 22px;
 
}

.amarelo{
  background-color: yellow;
  border: 3px dotted red;
  font-size: 11px;
}

p{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}