body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

div{
  text-align: justify;
  border: 1px solid black;
  padding: 20px;
  margin: 20px auto;
  width: 200px;
  height: 200px;
}

#teste1{
  background-color: red;
  overflow: auto;
}

#teste2{
  background-color: green;
  overflow-x: scroll;
  overflow-y: auto;
}
#teste3{
  width: 300px;
  height: 600px
}

