body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

h1{
  font-size: 56px;
}
.red{
  font-size: 18px;
  color: red;
}

.green{
  color: green;
  font-size: 56px;
}

p{
  font-size: 32px;
}