body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

body>div{
  margin: auto;
  box-sizing: border-box;
  height: 250px;
  width: 400px;
  background-color: lightgreen;
  border: 4px solid black;
  display: flex;
  margin-bottom: 25px;
}

body>div>div{
  border: 1px solid black;
  background-color: coral;
  padding:5px;

}

#d1,#d2,#d3,#d4,#d5,#d6,#d7{
  flex-direction: row;
  flex-wrap: wrap;}
#d1{align-content: stretch;}
#d2{align-content: flex-start;}
#d3{align-content: flex-end;}
#d4{align-content: center;}
#d5{align-content: space-between;}
#d6{align-content: space-evenly}
#d7{align-content: space-around;}
#d8,#d9,#d10,#d11,#d12,#d13,#d14{
  flex-direction: column;
  flex-wrap: wrap;}
#d8{align-content: stretch;}
#d9{align-content: flex-start;}
#d10{align-content: flex-end;}
#d11{align-content: center;}
#d12{align-content: space-between;}
#d13{align-content: space-evenly}
#d14{align-content: space-around;}