body{
  background-color: black;
  text-align: center;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

.caixa{
  min-width: 400px;
  max-width: 900px;
  /* width: 500px; */
  width: 75%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid white;
  border-radius: 20px;
  color: white;
  margin: 20px auto;
  text-align: center;
  box-sizing: border-box;
}
.caixa *{margin: 0px;}
/* .caixa .label{} */

button, .caixa input[type="submit"]{
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid white;
  font-size: 16px;
  border-radius: 10px;
  color: white;
  padding: 10px 25px;
  transition-duration: 0.5s;
  cursor: pointer;
}
button:hover, .caixa input[type="submit"]:hover{
  color: yellow;
  border-color: yellow;
}

.caixa input:not([type="submit"]), select, textarea{
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid white;
  text-align: center;
  color: white;
}

.caixa input[type="color"]{
  width: 60px;
  height: 40px;
  padding: 0px;
  border: none;
  background-color: transparent;
}

.caixa img{
  width: 400px;
  height: auto;
  border-radius: 30px;
  object-fit: cover;
}

.caixa label{
  font-size: 22px;
}





ol{
  text-align: left;
}

table{margin: 10px auto !important;}
table, td, th{
  border: 1px solid white;
  border-collapse: collapse;
  padding: 10px;
}
tr:nth-of-type(even){
  background-color: rgba(255, 255, 255, 0.217);
}


.d-flex{
  display: flex;
  justify-content: space-between;
}














th.active{color: red;}
th.active.ASC::after{content: "↑";}
th.active.DESC::after{content: "↓";}






@media all and (width < 800px){
  .caixa{width: 99%;}
}


.paginacao{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.paginacao button{
  padding: 2px 5px;
}
.paginacao button.active{
  border-color: red;
  color: red;
}