div{
  border: 2px solid black;
  padding:15px;
  background-color: lightgreen;
  font-size: 25px;
  text-align: justify;
  width: 350px;
  margin: 10px auto;
}

#d1::selection{background-color: red;}
#ol li::marker{color: red;}
#ul li::marker{color: red;}
#d2::first-letter{
  background-color: red;
  padding:5px;
  font-size:35px;
  color:blue}
#d3::first-line{background-color: yellow;}
#d4 label::after{content: ")";font-size: 30px;color: white;background-color: black;}
#d4 label::before{content: "(";font-size: 30px;color: white;background-color: black;}

#d5 label::before{content: url("img/bob_mini.jpg")}