.filho{background-color: white;margin: 5px;border: 1px solid black;width: 200px;}

#pai-2 .filho{background-color: red;}
#pai-3 .filho{background-color: blue;text-align: right;color: white;}
#pai-4 .filho button{background-color: green;}

.pai{
  border:1px solid black;
  padding: 15px;
  background-color: lightgreen;
  width: 300px;
}

div{border: 1px solid black;border-collapse: collapse;padding:5px;background-color: white;}

#pai-5 div{background-color: blueviolet;color:white;}

#pai-6 > div{background-color: blueviolet;}

#pai-8 *{background-color: lightskyblue;color: blue;}