body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{ 
  border: 3px solid black;
  text-align: justify;
}

.arredondado{
  border-radius: 80px;
}
#teste1{
  padding: 20px;
}

#teste2{
  padding-left: 20px;
}

#teste3{
  padding: 10px 30px 10px 30px;
}

#teste4{
  padding: 5px 150px
}