h1{
  text-align: center;
  color: black;
}
p{
  border: 3px solid black ;
  background-image: 
    linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)),
    url("img/porto.jpg"),
    url("img/lisboa.jpg");
  background-size: cover, contain, contain;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: top,  top, bottom;
  color: black;
  width: 600px;
  margin: 0 auto;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}


