body{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
h4{text-align: center;}

div{
  background-color: white;
  padding: 10px;
  margin: 10px;
  border:1px solid black
}

body>div{
  border:3px solid black;
  width: 500px;
  background-color: lightgreen;
  margin:auto;
}

#pai1 > div{background-color: red;}
#pai2 div{background-color: red;}
#pai3 > div > button {background-color: red;}
#pai4 > div > div > button {background-color: red;}
#pai5 button {background-color: red;}
#pai6 *{background-color: red;}





