body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

div{
  border: 1px solid black;
  padding: 10px;
  background-color: lightgreen;
  width: 450px;
  margin: 10px  auto;
}

button{margin:3px}

#d1 .b2:hover ~ .b10{background-color: red;}
#d1 .b3:hover  ~ .b8{background-color: green;}
#d1 .b10:hover ~ .b7{background-color: red;} /*naofunciona - pq filho é mais "novo" que o 7*/
