body{
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

div{
  background-color: lightgreen;
  width: 350px;
  margin:auto;
  padding: 20px;
  border: 4px solid black;
}
div:first-of-type{box-sizing: content-box;}
div:nth-of-type(2){box-sizing: border-box;}
div:nth-of-type(3){box-sizing: border-box;outline: 5px solid red;}
div:last-of-type{box-sizing: border-box;outline: 5px solid red;outline-offset: 5px;}




