body{text-align: center;font-size: 25px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

div{width:300px; border: 2px solid black; margin: 30px auto;padding: 10px}

#d1{font-weight: normal;}
#d2{font-weight: bold;}
#d3{font-weight: lighter;}
#d4{font-weight: 900;}
#d5{font-style: italic;}
#d6{text-transform: uppercase;} /*Tudo em maisculo ou minusculo - lowercase ou uppercase*/