body{
  margin: 0px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
}

#header{
  text-transform: uppercase;
}

.lucida{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 0.75rem;
  background-color: black;
  padding: 10px 0px;
}

.titulo{
  font-size: 32px;
  background-color: rgb(200, 200, 200);
  padding: 20px 0px;
  font-weight: bold;
}

.navbar{
  background-color: black;
  display: flex;
  justify-content: center;
}
.navbar a{
  text-decoration: none;
  color: white;
  padding: 20px 40px;
  transition-duration: 1s;
}
.navbar a:hover{
  background-color: white;
  color: black;
}
.navbar a.especial:hover:after{
  content: "BREVEMENTE";
  display: block;
  font-size: 10px;
  color: rgb(125, 125, 125);
}

#main{
  background-color: rgb(200, 200, 200);
  margin: 10px;
  padding: 10px;
  padding-top: 20px;
}

.subtitulo{
  font-size: 24px;
  font-weight: bold;
}

#surpresas{
  background-color: rgb(120, 0, 0);
  padding: 10px;
  margin: 20px 0px;
}

.card{
  border: 1px solid white;
  width: 200px;
  height: 270px;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}
.card:hover{
  background-color: white;
  color: black;
}
.card:hover img{display: block;}
.card img{
  width: 100%;
  display: none;
}
.desconto{
  font-family: 'Courier New', Courier, monospace;
  font-size: 22px;
  background-color: white;
  width: 150px;
  height: 45px;
  padding: 10px 0px;
  box-sizing: border-box;
  border-radius: 25px;
  margin: 10px auto;
  color: black;
}
.desconto span{display: none;}
#surpresas .card:hover ~ .desconto span{display: block;}

p{text-align: justify;}

#footer{
  text-transform: uppercase;
  padding: 10px;
  background-color: black;
}