:root{
  --tamanho: 5px;
}

div{
  border:1px solid black;
  background-color: lightgreen;
  text-align: center;
  margin: 20px 0px;
}

.categoria-1{font-size: var(--tamanho)}
.categoria-2{font-size: calc(var(--tamanho)*2)}
.categoria-3{font-size: calc(var(--tamanho)*4)}
.categoria-4{font-size: calc(var(--tamanho)*8)}