body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

textarea{
  width: 200px;
  height: 150px;
}

.dica{
  color: grey;
  font-style: italic;
  font-weight:normal;
}

#texto5{
  resize: horizontal;
}
#texto6{
  resize: vertical;
}
#texto7{
  resize: none;
}

#texto8{
  width: 200px;
  max-width: 400px;
  min-width: 200px;
  height: 200px;
  max-height: 400px;
  min-height: 200px;
}