body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

div{
  background-color: lightgreen;
  border: 2px solid black;
  padding: 10px;
  margin: 5px auto;
  width: 60vw;
}

input{text-align: center;}

#d1:hover{box-shadow: 1px 1px 15px 8px lightgreen;}

#d2:hover{box-shadow: 1px 1px 15px 8px lightgreen;transition-duration: 1s;}

#d3:active{border-radius: 40px;}

#d4:active{border-radius: 40px;transition-duration: 1s;}

#d5 input:focus{background-color: rgba(255, 0, 13, 0.3);}

#d6 input{transition-duration: 1s;}

#d6 input:focus{background-color: rgba(255, 0, 13, 0.3);transition-duration: 1s;}

#d7 a:visited{color:red;}

#d7 a:link{color:white;}

#d8 button:first-of-type{background-color: red;}

#d9 button:last-of-type{background-color: red;}

#d10 button:nth-of-type(3){background-color: red;}

#d11 button:nth-of-type(odd){background-color: red;}

#d12 button:nth-of-type(even){background-color: red;}

#d13 button:nth-of-type(3n){background-color: red;}

#d14:lang(pt){background-color: red;}

#d15:lang(en){background-color: blue;}

#d16 input:autofill{border: 2px solid red;}

#d17 input:disabled{border: 2px solid red;}

#d18 input:enabled{border:2px solid red;}

#d19 input:read-only{border:2px solid red;}

#d20 input:placeholder-shown{border:2px solid red;}

#d21 input:checked{outline: 3px solid red}