body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #acacac;
}

/* ---------- TÍTULOS ---------- */
h1 {
  color: #6c63ff;
  margin-bottom: 20px;
  text-align: center;
  font-size: 35px;
}

h3 {
  color: #fff;
  margin-bottom: 20px;
  margin-top: -10px;
  text-align: center;
  font-size: 25px;
}

/* ---------- TABELA ---------- */
table {
  width: 80%;
  border-collapse: collapse;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
}

th, td {
  padding: 12px 16px;
  text-align: left;
}

th {
  background-color: #6c63ff;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #cac8c8;
  transition: background-color 0.2s ease;
}

/* ---------- CONTAINER ---------- */
.caixa {
  text-align: center;
  width: 70%;
  margin: 30px auto;
  padding: 30px;
  background-color: #29292959;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  border-top: 5px solid #6c63ff;
  border-right: 5px solid #6c63ff;
}

.caixa input[type="text"],
.caixa input[type="number"] {
  padding: 6px 10px;
  border: 2px solid #6c63ff;
  border-radius: 6px;
  background-color: #f9f9f9;
  color: #333;
  font-size: 14px;
  width: 100px;
  text-align: center;
  margin: 8px 5px;
}

.caixa form {
  text-align: center;
}

.caixa label {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

/* ---------- BOTÕES E LINKS ---------- */


/* estilo base para todos os botões */
.caixa button{
  display: inline-block;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.15s ease, transform 0.1s ease;
  margin: 4px;
}

/* botão X (na tabela) */
.caixa table a button {
  background-color: #1a5c25;
}
.caixa table a button:hover {
  background-color: #288a38;
  transform: scale(1.15);
}


input[type="submit"]{
  padding: 6px 10px;
  border: 2px solid #fff;
  border-radius: 6px;
  background-color: #6c63ff;
  color: #fff;
  font-size: 14px;
  width: 100px;
  text-align: center;
  margin: 8px 5px;
  cursor:pointer;
}

