div{
  background-color: red;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  position: relative;
}

#div-1{
  animation-name: mover, girar, mudar_cor;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  /* animation-delay: 5s; */
}

@keyframes mover{
  from{
    left: 0px;
  }
  to{
    left: 300px;
  }
}

@keyframes girar{
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}

@keyframes mudar_cor {
  from{background-color: red;}
  to{background-color: yellow;}
}