body{
  margin: 0px;
  background-color: aqua;
  color: white;
}
.sol{
  width: 150px;
  margin-top: 20px;
}

.chao{
  background-color: saddlebrown;
  padding: 50px;
  padding-left: 2px;
}

.arvoresmall{
  width: 80px; 
}

.arvorebig{
  width: 110px;
  margin-top: 201px;
}

.nuvem{
  width: 60px;
  margin-right: 140px;
}

.nuvemg{
  width: 100px;
  margin-right: 80px;
}

.plane{
  width: 250px;
}

.perto{
  margin-bottom: -90px;
}

.longe{
  margin-bottom: -10px;
}

.meio{
  margin-bottom: -45px;
}