body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

body>div{
  margin: auto;
  padding:20px;
  box-sizing: border-box;
  height: 300px;
  width: 300px;
  background-color: lightgreen;
  border: 3px solid black;
  display: flex;
}

body>div>div{
  border: 1px solid black;
  background-color: lightsalmon;
  padding:5px;
}

#d1{flex-direction: row;}
#d2{flex-direction: column;}
#d3{flex-direction: row-reverse;}
#d4{flex-direction: column-reverse;}
#d5{flex-direction: row;flex-wrap: nowrap;}
#d6{flex-direction: row;flex-wrap: wrap;}
#d7{flex-direction: row;flex-wrap: wrap-reverse;}
#d8{flex-direction: column;flex-wrap: nowrap;}
#d9{flex-direction: column;flex-wrap: wrap;}
#d10{flex-direction: column;flex-wrap: wrap-reverse;}
#d11{flex-direction: row;flex-wrap: wrap;gap:10px;}