body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

div{
  width: 40vw;
  height: 40vw;
  background-color: green;
  border: 3px solid black;
  border-radius: 30px;
  margin:auto;
}

@media all and (width <= 900px){
  div{background-color: blue;
}
}

@media all and (width <= 700px){
  div{background-color: red;
}
}