body{
    max-width:1600px;
    margin:0 auto;
    font-family: 'Proxima Nova ExCn Rg';
    background-color: #ffffff;
}

.titulos{
    font-family: 'Proxima Nova ExCn Lt';
}

#logoprincipal{
    display:block;
    margin:40px auto 10px;
    height:116px;
    width:210px;
    width: fit-content;
}

.social-icons {
    display: flex;
    position: absolute;
    top: 130px;
    right: 110px;
    align-items: center;
    gap: 12px;
    }

.social-icons img {
    width: 30.28px;
    height: 29.11px;
}
.separator {
    width: 1px;
    height: 32px;
    background-color: #716E6E;
    margin-left: 5px;
    margin-right: 4px;
}
#carousel1 {
    width: 1600px;
    height: 521px;
    margin: 0 auto;
    position: relative !important;
}


#carousel1 img {
    width: 1600px;
    height: 521px;
    object-fit: cover;
}


#carousel1 .carousel-indicators {
    position: absolute;
    display: flex;
    top:20px;
    transform: translateX(-3%);
    align-items: flex-end;
    flex-direction: column;
    gap: 12px;
    margin: 0;
    z-index: 20 !important;
}

.carousel-inner {
    position:relative;
    z-index: 1;
}


.carousel-indicators button:not(.active) {
    background-image: url("../imagens/carousel1/bola_branca_nao_seleccionada.svg") !important;
}

.carousel-indicators button.active {
    background-image: url("../imagens/carousel1/bola_branca_seleccionada.svg") !important;
}

.carousel-indicators [data-bs-target] {
    width: 22px !important;
    height: 22px !important;
    background-color: transparent !important;
    background-image: none !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
}
