body{
    max-width:1600px;
    margin:0 auto;
    font-family: 'Proxima Nova ExCn Rg';
    background-color: #ffffff;
}

.titulos{
    font-family: 'Proxima Nova ExCn Sb';
}

/* Container do header para manter tudo centralizado */
header .container-fluid {
    max-width: 1600px;
    margin: 0 auto;
}

/* Container do logo e social icons */
header .row:first-child .col-12 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    min-height: 196px;
}

#logoprincipal{
    display: block;
    height: 116px;
    width: 210px;
    margin: 0;
}

.social-icons {
    display: flex;
    position: absolute;
    top:125px;
    right: 105px;
    align-items: center;
    gap: 12px;
}

.social-icons img {
    width: 30.28px;
    height: 29.11px;
}

.separator {
    width: 1px;
    height: 32px;
    background-color: #716E6E;
    margin-left: 5px;
    margin-right: 4px;
}

#carousel1 {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    position: relative !important;
    box-shadow:1px 1px 10px #3E3E3E;
}

#carousel1 img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#carousel1 .carousel-indicators {
    position: absolute;
    display: flex;
    top: 20px;
    right: 4%;
    align-items: flex-end;
    flex-direction: column;
    gap: 12px;
    margin: 0;
    z-index: 20 !important;
}

.carousel-inner {
    position: relative;
    z-index: 1;
}

.carousel-indicators button:not(.active) {
    background-image: url("../imagens/carousel1/bola_branca_nao_seleccionada.svg") !important;
}

.carousel-indicators button.active {
    background-image: url("../imagens/carousel1/bola_branca_seleccionada.svg") !important;
}

.carousel-indicators [data-bs-target] {
    width: 22px !important;
    height: 22px !important;
    background-color: transparent !important;
    background-image: none !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
}

.navbar{
    margin-top: -40px;
    z-index: 10;
}
.navbartopo{
    background-color:#3E3E3E;
    width: 1319px;
    height: 67px;
    box-shadow:1px 1px 8px #3E3E3E;
    align-items: center;
    display:flex;
}
.nav-link.active {
    font-size: 24px;
    font-weight: 600;
}

.dropdown-menu {
    background-color: #3E3E3E !important;
    border: none !important;
    padding: 0 !important;
    margin-top: 0 !important;
    border-radius: 0 !important;
}

.nav-link, .dropdown-item{
    color:#FFFFFF !important;
    font-family: 'Proxima Nova ExCn Sb';
    font-size: 22px;
    text-transform: uppercase;
    line-height:65px;
    padding: 0 30px !important;
}

.nav-link:hover{
    border-top: 4px solid #FFFFFF;
}

.dropdown-item {
    border-bottom: 1px solid #FFFFFF;
    position: relative;
    padding-left: 32px !important;
}


.dropdown-item::before {
    content: "";
    position: absolute;
    opacity: 0;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px; 
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../imagens/seta_submenu.svg");
}

.dropdown-item:hover::before {
    opacity: 1;
}


.dropdown-item:hover {
    background-color: #3E3E3E !important;
}


.navbartopo .navbar-nav {
    margin: 0 auto !important;
    display: flex;
    justify-content: center;
    width: 100%;
}


#intro {
    max-width: 1250px;
    margin: 60px auto 40px auto;
    text-align: center;
    padding: 0 20px;
}

#intro h1 {
    font-family: 'Proxima Nova ExCn Sb';
    font-size: 48px;
    font-weight: 600;
    text-transform: none;
    margin-bottom: 5px;
    color: #4D4D4D;
}

#intro h2 {
    font-family: 'Proxima Nova ExCn Sb';
    font-size: 44px;
    line-height: 12px;
    font-weight: 400;
    margin-bottom: 35px;
    color: #4D4D4D;
}

#intro p {
    font-family: 'Proxima Nova ExCn Rg';
    font-size: 20px;
    line-height: 1.45;
    max-width: 1250px;
    margin: 0 auto 55px auto;
    color: #4D4D4D;
}


#intro .titulo-secundario {
    font-family: 'Proxima Nova ExCn Sb';
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 35px;
    color: #4D4D4D;
}

#intro .linha-separadora {
    width: 95%;
    max-width: 1300px;
    margin: 50px auto 40px auto;
    border: none;
    border-top: 3px solid #4D4D4D;
}
