body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
  text-align: center;
}

.botoes{
  text-align: center;
}

button{
  margin: 5px 10px;
}

#b2{
  cursor: pointer;
}

#b3{
  cursor: Wait;
}

#b4{
  cursor: Grab;
}

#b5{
  cursor: Grabbing;
}

#b6{
  cursor: Crosshair;
}

#b7{
  cursor: zoom-in;
}

#b8{
  cursor: zoom-out;
}

#b9{
  cursor: all-scroll;
}

#b10{
  cursor: Cell;
}

#b11{
  cursor: Copy;
}

#b12{
  cursor: Help;
}

#b13{
  cursor: Progress;
}

#b14{
  background-color: Red;
  border: 2px dashed black;
  border-radius: 10px;
  color: white;
  padding: 5px
}

#b15{
  background-color: green;
  border: 2px dashed black;
  border-radius: 10px;
  color: white;
  padding: 5px
}

#b16{
  background-color: blue;
  border: 2px dashed black;
  border-radius: 10px;
  color: white;
  padding: 5px
}