body{
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body>div{
  border:3px solid black;
  width:350px;
  height:200px;
  margin:auto;
  background-color: lightgreen;
  padding: 10px;
}
div>div{
  border:1px solid black;
  background-color: coral;
  width:25%;
}
div:first-of-type>div{display: block;}
div:nth-of-type(2)>div{display: inline;}
div:nth-of-type(3)>div{display: inline-block;} /*Não aceita W nem H*/
div:last-of-type>div{display: none;}

