body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.azul{
  background-color: aquamarine;
  text-align: left;
  color: black;
}

.roxo{
  background-color: rebeccapurple;
  text-align: center;
  color: violet;
}

.laranja{
  background-color: coral;
  text-align: right;
  color:black
}