@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch+Pop&display=swap');

@font-face{
  src:url("fonts/Honk-Regular-VariableFont_MORF\,SHLN.ttf");
  font-family: "Honk";}

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}
div{
  border: 2px solid black;
  padding: 10px;
  font-size:32px;
  width:350px;
  margin: 5px auto;
}
div:first-of-type{background-color:lightgreen; font-family: 'workbench';}
div:nth-of-type(2){background-color:lightblue; font-family: 'Rubik Glitch Pop';}
div:nth-of-type(3){background-color:azure; font-family: "Honk";}
div:last-of-type{background-color:coral;font-family: 'Mogilte';}